:root {
    --grigio: rgb(127, 126, 125);
    --grigio-chiaro: rgb(241 241 241);
    --arancione: rgb(255 84 4);
}
/*Common Style*/
body {
    font-family: "Montserrat";
    font-size: 16px;
    box-sizing: border-box; 
}
svg {
    width:40px;
    height: 40px;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 60px 0 30px 0;
}
h3 {
    font-size: 1em;
    font-weight: 550;
}
p {
    max-width: 700px;
}
/*text*/
.textblock {
    display: block;
}
.italic {
    font-style: italic;
}
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
/*position*/
.absolute{
    position:absolute;
}
.relative {
    position: relative;
}
.left {
    left: 10px;
}
.right{
    right:10px;
}
/*color*/
.orange {
    color: var(--arancione)
}
.white {
    color:white;
}
.gray {
    color:var(--grigio)
}
.background-gray {
    background-color: var(--grigio);
}
.background-lightgray {
    background-color: var(--grigio-chiaro);
}
.background-orange {
    background-color: var(--arancione);
}
.background-white {
    background-color: white;
}
.background-darkgray {
    background-color: rgb(68 68 68);
}
.background-verydarkgray {
    background-color: rgb(62 62 62);
}
/*Layout*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    /* background-color: aquamarine; */
}
.col2 {
    width:calc(100% / 2 + 0.2rem);
    vertical-align: top;
    display: inline-block;
    margin-right: -0.4rem;
}
.col3 {
    width: calc(100% / 3 + 0.2rem);
    vertical-align: top;
    display: inline-block;
    margin-right: -0.5rem;
}
.col4 {
    width: calc(100% / 4 + 0.2rem);
    vertical-align: top;
    display: inline-block;
    margin-right: -1.8rem;
}
.col5 {
    width: calc(100% / 5 + 0.2rem);
    vertical-align: top;
    display: inline-block;
    margin-right: -1.8rem;
}
.col8 {
    width: calc(100% / 8 + 0.2rem);
    vertical-align: top;
    display: inline-block;
    margin-right: -0.6rem;
}
/*header*/
header {
    padding:25px 0;
    position: sticky;
    top:0;
    background-color: white;
    border-bottom:1px solid var(--grigio);
    z-index: 1000;/*trucchetto per le svg*/
}
header svg {
    width:15px;
    height:15px;
}
header a {
    font-weight: 500;
    color: var(--grigio)
}
header a:hover {
    background-color: var(--grigio);
    color:var(--grigio-chiaro);
    padding:10px 15px;
    border-radius: 5px;
}
header section.col2 {
    max-width: 20%;
}
/*section=heading*/
#heading {
    padding: 280px 0 0 0;
    background-color: var(--grigio);
    width:100%;
    max-width: 1170px; /*larghezza dello schermo*/
    margin: 0 auto;
    text-align: center;
}
#heading h1, #heading p {
    text-align: center;
    padding: 10px;
    margin:0 auto;

}
#heading h1 {
    font-size: 4.5em;
    font-weight: 550;
    color: white;
}
#heading p {
    padding-bottom: 60px;
}
#heading button {
    border: 2px solid white;
    background-color: var(--grigio);
    color:white;
    padding: 20px 30px;
    margin-bottom: 260px
}
#heading button:hover {
    background-color: white;
    color: var(--grigio);
}
/*section about*/
#about {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
}
#about h2, #about p {
    padding: 60px 0 10px 0;
    margin:0 auto;
}
#about p {
    padding: 10px 0 60px 0;
}
#about svg {
    width:40px;
    height: 40px;
}
/*section features*/
#features {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--grigio-chiaro);
    padding-bottom: 60px;
}
#features h2, #features p {
    padding: 20px 0 10px 0;
    max-width: 900px;
    margin:0 auto;
}
 #features svg.right {
    right: 37px;
    fill:var(--grigio);
}
#features svg.left {
    left: 88px;
    fill:var(--grigio);
} 
 #features .col4.relative {
    width: 14%;
} 
#features h2 + p {
    padding-bottom: 60px;
}
/*section people*/
#people {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 80px;
}
#people h2 {
    max-width: 400px;
}
#points {
    font-size: 7em;
    margin-top: 0;
}
#people svg {
    width: 110px;
    height: 110px;
    fill:var(--grigio-chiaro)
}
#virgola1 {
    left:0;
    top:0;
}
#virgola2 {
    right:0;
    bottom:0;
}
#people img {
    border-radius: 50%;
}
/*section team*/
#team {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--grigio-chiaro);
    padding-bottom: 100px;
}
#team .container {
    max-width: 75%;
}
#team>p {
    margin: 0 auto;
    padding-bottom: 60px;
}
#team .col3 {
    background-color: white;
    max-width: 23%;
    margin:10px
    
   
}
.col3 h4 {
    font-weight: 550;
}
/*section skills*/
#skills {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 160px;
    position: relative;
}

#skills svg {
    width:200px;
    height:200px;
    fill:var(--grigio-chiaro);
    position: absolute;
    top:70px;
    right:750px;
}
#skills progress {
    width: 70%;
}
#skills table {
    width: 100%;
    text-align: left;
    font-weight: 500;
}
#skills tr {
    padding: 10px 0;
}
#skills p {
    padding-bottom: 80px;
}
/*section price*/
#price {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: var(--grigio-chiaro);
}
#price p {
    margin: 0 auto;
    padding: 8px;
    font-size: 0.6rem;
}
.border-bottom {
    border-bottom:2px solid var(--grigio-chiaro);
}
#price .col3 {
    max-width: 18%;
    margin: 10px
    
}
#price p + h4 {
    font-size: 4em;
    color: white;
    font-weight: 300;
    padding: 15px 0 7px 0;
}
#price h4>span {
    font-size: 0.5em;
}
#price button {
    color:white;
    padding: 12px 20px;
    border-radius: 5px;
    border:none;
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 40px;
}
#price button:hover {
    color:var(--grigio);
    background-color: var(--grigio-chiaro);
    border:1px solid var(--grigio);
}
#price .col3 p.font-size {
    font-size: 0.9em;
    color:var(--grigio)
}
/*section client*/
#client {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 80px;
}
#client div.textleft {
    padding-left: 20%;
}
#client p {
    padding-bottom: 80px;
}
/*form*/
#form {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 160px;
    background-color: var(--grigio-chiaro);
}
.container2 {
    width: 100%;
    max-width: 585px;
    margin: 0 auto;
    text-align: center;
}
#form .container2 p {
    font-size: 0.8em;
    padding-bottom: 5px;
}
#form div.col2>h2 {
    padding-right: 24%;
}
#form h2 + p {
    padding-right: 24%;
}
#form svg.col2 {
    width: 25px;
    height:25px;
    padding-left: 15px;
}
.container2 .col2 {
    padding-bottom: 30px;
}
#form form{
    padding-top: 60px;
}
#form input, textarea {
    width:60%;
    padding: 18px 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    border:none;
    font-family: "Montserrat";
}
#form button {
    padding: 8px 30px;
    border-radius: 5px;
    color:white;
    background-color: rgb(68 68 68);
    border:none
}
#form button:hover {
    color:rgb(68 68 68);
    background-color: white;
    font-weight: 600;
    border: 1px solid rgb(68 68 68);
}
/*footer*/
footer {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: rgb(68 68 68);
}
footer h2 {
    color:white;
    font-weight: 700;
    padding-bottom: 50px;
}
footer svg {
    background-color: var(--grigio-chiaro);
    fill:rgb(68 68 68);
    margin: 0 2px;
}
footer svg:hover {
    background-color: rgb(62 62 62);
    fill:var(--grigio-chiaro);
    border: 1px solid var(--grigio-chiaro);
}
footer p {
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 0.7rem;
    margin: 0 auto;
    margin-top: 30px;
}
/*pagina about section creative*/
#creative {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom:140px;
}
#creative p {
    padding-bottom: 80px;
    margin:0 auto;
}
#creative a, #creative li {
    padding: 10px 10px;
    margin-bottom: 10px;
}
#creative a:hover {
    background-color: var(--arancione);
    color:white;
}
/*section customer*/
#customer {
    text-align: center;
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom:100px;
    background-color: var(--grigio-chiaro);
}
#customer .col3 {
    width:25%;
}
section#customer > p {
    font-size: 0.6rem;
    margin: auto;
    padding: 60px 0;
}
#customer h3 {
    color:var(--arancione);
    font-size: 2em;
    padding-bottom: 15px;
    font-weight: 600;
}
#customer svg {
    fill: var(--grigio);
    padding-bottom: 10px;
    width:70px;
    height:70px;
}
#customer h3 + p {
    font-size: 0.7em;
    font-weight: 500;
}
/*RESPONSIVE*/